h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #BABABA;
}


@media (min-width: 1024px)  {

  .forms-container {
    overflow-y: auto;
    flex: 1 1 auto;
    height: 0;
    position: relative;
  }

}

